Repository SAP/terraform-provider-btp, pull requests merged in 2023-12, with the labels that each got.

#552 fix: add new field in service manager model broker error model
  internal/btpcli/types/servicemanager/model_error.go
  internal/btpcli/types/servicemanager/model_error_broker_error.go
Labels: bug, dependencies

#554 test: Configurable Global Accounts For Tests
  internal/provider/datasource_globalaccount_roles_test.go
  internal/provider/provider_test.go
Labels: ignore-for-release, test-setup

#558 test: Removes IDs From Directory Labels Test
  internal/provider/datasource_directory_labels_test.go
  internal/provider/fixtures/datasource_directory_labels.yaml
Labels: ignore-for-release, test-setup

#562 test: Removes IDs From Datasource Directory Role Collection Test
  internal/provider/datasource_directory_role_collection_test.go
  internal/provider/fixtures/datasource_directory_role_collection.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collection.yaml
  internal/provider/fixtures/datasource_directory_role_collections.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collections.yaml
Labels: ignore-for-release, test-setup

#564 test: Removes IDs From Datasource Directory Roles Tests
  internal/provider/datasource_directory_roles_test.go
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
Labels: ignore-for-release, test-setup

#566 test: Removes IDs From Datasource Directory Users Tests
  internal/provider/datasource_directory_users_test.go
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_users.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.non_existing_idp.yaml
Labels: ignore-for-release, test-setup

#568 chore: removes IDs From Datasource Directory User, Datasource Subaccount User, Datasource Subaccount Users Tests
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/datasource_subaccount_users_test.go
  internal/provider/fixtures/datasource_directory_user.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_user.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_users.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.non_existing_idp.yaml
  internal/provider/fixtures/datasource_globalaccount.yaml
  internal/provider/fixtures/datasource_subaccount_user.yaml
  internal/provider/fixtures/datasource_subaccount_users.custom_idp.yaml
  internal/provider/fixtures/datasource_subaccount_users.default_idp.yaml
Labels: ignore-for-release, test-setup

#569 chore: update release version
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Labels: documentation, ignore-for-release

#571 test: Removes IDs From Datasource Directory Role Tests
  internal/provider/datasource_directory_role_test.go
  internal/provider/fixtures/datasource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role.yaml
  internal/provider/fixtures/datasource_directory_role_collection.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collection.yaml
  internal/provider/fixtures/datasource_directory_role_collections.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collections.yaml
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
Labels: ignore-for-release, test-setup

#575 test: Removes IDs From Datasource Subaccount App Tests
  internal/provider/datasource_subaccount_app_test.go
  internal/provider/fixtures/datasource_subaccount_app.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_apps.yaml
Labels: ignore-for-release, test-setup

#578 test: Removes IDs From Datasource Subaccount Environments Tests
  internal/provider/datasource_subaccount_environments_test.go
  internal/provider/fixtures/datasource_subaccount_environments.yaml
Labels: ignore-for-release, test-setup

#579 test: Removes IDs From Datasource Subaccount Labels Tests
  internal/provider/datasource_subaccount_labels_test.go
  internal/provider/fixtures/datasource_subaccount_labels.yaml
Labels: ignore-for-release, test-setup

#582 test: Removes IDs From Datasource Subaccount Roles Tests
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/fixtures/datasource_subaccount_role.yaml
  internal/provider/fixtures/datasource_subaccount_roles.yaml
Labels: ignore-for-release, test-setup

#581 test: Removes IDs From Datasource Directory Tests
  internal/provider/datasource_directory_test.go
  internal/provider/fixtures/datasource_directory.yaml
Labels: ignore-for-release, test-setup

#585 fix: wrong calculation of quota
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Labels: bug, breaking-change

#586 test: Removes IDs From Datasource Subaccount Security Settings Tests
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
Labels: ignore-for-release, test-setup

#589 test: Removes IDs From Datasource Subaccount Service Bindings Tests
  internal/provider/datasource_subaccount_service_bindings_test.go
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
Labels: ignore-for-release, test-setup

#593 test: Removes IDs From Datasource Subaccount Service Plans Tests
  internal/provider/datasource_subaccount_service_plans_test.go
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Labels: ignore-for-release, test-setup

#592 chore: base setup of regression testing
  .github/workflows/schema-regression-test.yml
  assets/provider-config-ghaction.txt
  regression-test/README.md
  regression-test/main.tf
  regression-test/provider.tf
  regression-test/variables.tf
Labels: ignore-for-release, test-setup

#599 test: Removes IDs From Datasource Subaccount Trust Configurations Tests
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
Labels: ignore-for-release, test-setup

#600 test: Removes IDs From Datasource Subaccount Trust Configuration Tests
  internal/provider/datasource_subaccount_trust_configuration_test.go
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_not_existing.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.default.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
Labels: ignore-for-release, test-setup

#602 test: Removes IDs From Resource Directory Role Collection Assignment Tests
  internal/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.yaml
  internal/provider/resource_directory_role_collection_assignment_test.go
Labels: ignore-for-release, test-setup

#604 test: Removes IDs From Resource Subaccount Security Settings Tests
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_subaccount_security_settings_test.go
Labels: ignore-for-release, test-setup

#603 test: Removes IDs From Resource Subaccount Role Collection Assignment Tests
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Labels: ignore-for-release, test-setup

#607 test: Removes IDs From Resource Subaccount Service Binding Tests
  internal/provider/datasource_subaccount_service_binding_test.go
  internal/provider/fixtures/datasource_subaccount_service_binding.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_binding.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
  internal/provider/provider_test.go
Labels: ignore-for-release, test-setup

#608 test: Removes IDs From Resource Subaccount Service Instance Tests
  internal/provider/datasource_subaccount_service_instance_test.go
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
Labels: ignore-for-release, test-setup

#611 test: Removes IDs From Resource Subaccount Service Offering Tests
  internal/provider/datasource_subaccount_service_offering_test.go
  internal/provider/fixtures/datasource_subaccount_service_offering.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_offering.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.by_environment.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.namefilter.yaml
Labels: ignore-for-release, test-setup

#613 test: Removes IDs From Resource Subaccount Subscription Tests
  internal/provider/datasource_subaccount_subscription_test.go
  internal/provider/fixtures/datasource_subaccount_subscription.by_id_and_plan.yaml
  internal/provider/fixtures/datasource_subaccount_subscriptions.yaml
Labels: ignore-for-release, test-setup

#612 test: Removes IDs From Resource Subaccount Service Plan Tests
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Labels: ignore-for-release, test-setup

#619 test: Removes IDs From Datasource Subaccount Tests
  internal/provider/datasource_subaccount_test.go
  internal/provider/fixtures/datasource_subaccount.yaml
Labels: ignore-for-release, test-setup

#620 chore: changes in test workflow for coverage upload
  .github/workflows/test.yml
Labels: github_actions, ignore-for-release

#624 test: Removes IDs From Resource Directory Role Collection Tests
  internal/provider/fixtures/resource_directory_role_collection.error_import.yaml
  internal/provider/fixtures/resource_directory_role_collection.multiple_roles.yaml
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/fixtures/resource_directory_role_collection.update.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/resource_directory_role_collection_test.go
Labels: ignore-for-release, test-setup

#626 test: Removes IDs From Resource Subaccount Entitlement Tests
  internal/provider/fixtures/resource_subaccount_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.dir_hierarchy.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.update.yaml
  internal/provider/resource_subaccount_entitlement_test.go
Labels: ignore-for-release, test-setup

#609 fix: update of service manager schema
  docs/data-sources/subaccount_service_binding.md
  docs/data-sources/subaccount_service_bindings.md
  docs/data-sources/subaccount_service_instance.md
  docs/data-sources/subaccount_service_instances.md
  docs/resources/subaccount_service_binding.md
  docs/resources/subaccount_service_instance.md
  internal/btpcli/types/servicemanager/model_created_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_created_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_listed_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_listed_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_updated_service_instance_response_object.go
  internal/provider/datasource_subaccount_service_binding.go
  internal/provider/datasource_subaccount_service_binding_test.go
  internal/provider/datasource_subaccount_service_bindings.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/datasource_subaccount_service_instances.go
  internal/provider/fixtures/datasource_subaccount_service_binding.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_binding.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_binding.go
  internal/provider/type_subaccount_service_instance.go
Labels: bug, dependencies, breaking-change

#627 test: Removes IDs From Resource Subaccount Role Collection Tests
  internal/provider/fixtures/resource_subaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_wo_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.yaml
  internal/provider/resource_subaccount_role_collection_test.go
Labels: ignore-for-release, test-setup

#598 chore: enhance release workflow with tests
  .github/workflows/release.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/test.yml
  regression-test/provider.tf
  regression-test/variables.tf
Labels: ignore-for-release, test-setup

#631 test: Removes IDs From Resource Subaccount Service Instance Tests
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Labels: ignore-for-release, test-setup

#632 test: Removes IDs From Resource Subaccount Subscription Tests
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/resource_subaccount_subscription_test.go
Labels: ignore-for-release, test-setup

#633 test: Removes IDs From Resource Subaccount Trust Configuration Tests
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration_test.go
Labels: ignore-for-release, test-setup

#635 test: Removes IDs From Resource Subaccount Environment Instance Tests
  internal/provider/fixtures/resource_subaccount_environment_instance.update.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.yaml
  internal/provider/resource_subaccount_environment_instance_test.go
Labels: ignore-for-release, test-setup

#634 test: Removes IDs From Resource Directory Entitlement Tests
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/resource_directory_entitlement_test.go
Labels: ignore-for-release, test-setup
