Repository SAP/terraform-provider-btp, pull requests merged in 2024-01, with the labels that each got.

#641 chore: cleanup dev container setup for remote
  .devcontainer/default/devcontainer.json
  .devcontainer/default_remote/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .devcontainer/withenvfile_remote/devcontainer.json
Labels: dependencies, ignore-for-release

#642 fix: replace typed error with generic JSON response
  internal/btpcli/types/servicemanager/model_operation_response_object.go
Labels: bug, dependencies

#643 chore: remove outdated TF version
  .github/workflows/test.yml
Labels: ignore-for-release, test-setup

#655 chore: fix link checker
  .github/workflows/links-watcher-cron.yml
  DEVELOPER.md
Labels: github_actions, ignore-for-release

#652 fix: regression test workflow
  .github/workflows/release.yml
  .github/workflows/schema-regression-test.yml
  regression-test/main.tf
Labels: bug, github_actions, ignore-for-release

#659 chore: update feature-request-response.yml
  .github/workflows/feature-request-response.yml
Labels: github_actions, ignore-for-release

#657 chore: opentofu compatibility check
  .github/workflows/compatibility-test.yml
  assets/compat_template.md
Labels: enhancement, github_actions, ignore-for-release

#663 chore: include version 1.7
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Labels: enhancement, dependencies, ignore-for-release

#660 ci: Adds flexible IDP configuration to GA setup TF scripts
  integration/README.md
  integration/main.tf
  integration/variables.tf
Labels: ignore-for-release, test-setup

#668 docs: wrong path to devcontainer configuration
  DEVELOPER.md
Labels: documentation, broken link, ignore-for-release

#670 chore: prep work for rc2
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
  regression-test/provider.tf
Labels: documentation, ignore-for-release

#672 chore: remove test step for release
  .github/workflows/release.yml
Labels: github_actions, ignore-for-release

#673 chore: fix test in release workflow
  .github/workflows/release.yml
Labels: github_actions, ignore-for-release

#675 chore: setup of pre-release checks
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
  .github/workflows/schema-regression-test.yml
Labels: github_actions, ignore-for-release

#676 chore: codeql setup
  .github/workflows/codeql.yml
Labels: github_actions, ignore-for-release

#666 fix(service-instance): support parameters resolution
  docs/resources/subaccount_service_instance.md
  internal/btpcli/facade_services_instance.go
  internal/btpcli/facade_services_instance_test.go
  internal/btpcli/types/servicemanager/model_service_instance_parameters.go
  internal/btpcli/types/servicemanager/model_service_instance_response_object.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_service_instance.go
  templates/resources/subaccount_service_instance.md.tmpl
Labels: bug

#685 docs: update subaccount_service_instance.md.tmpl
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Labels: documentation

#684 chore: update dependabot for devcontainers
  .github/dependabot.yml
Labels: dependencies, github_actions, ignore-for-release
