Repository SAP/terraform-provider-btp, pull requests merged in 2024-05, with the labels that each got.

#797 fix: Revert Release Workflow
  .github/workflows/release.yml
Labels: ignore-for-release

#799 docs: typo in import comment
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_globalaccount_trust_configuration/import.sh
  examples/resources/btp_subaccount_trust_configuration/import.sh
Labels: documentation

#802 chore: prep release 1.3.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Labels: ignore-for-release

#803 chore: fix permission for reusable workflow
  .github/workflows/release.yml
Labels: github_actions, ignore-for-release

#805 chore: update devcontainer config to enable SSO option
  .devcontainer/default/devcontainer.json
  .devcontainer/scripts/install-xdg.sh
  .devcontainer/withenvfile/devcontainer.json
Labels: enhancement

#812 chore: update goreleaser action
  .github/workflows/release.yml
Labels: dependencies, github_actions, ignore-for-release

#817 docs: fix broken links
  .lycheeignore
  guides/QUICKSTART.md
Labels: documentation, broken link, ignore-for-release
