Repository SAP/terraform-provider-btp, pull requests merged in 2025-01, with the labels that each got.

#986 chore: update year references
  .reuse/dep5
  README.md
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
Labels: ignore-for-release

#991 fix: Removed UUID validator for parent-id attribute in subaccount and directory resource
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_test.go
Labels: bug

#988 feat: add retry logic for Gateway timeout
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/tfutils/retry.go
  internal/tfutils/retry_test.go
Labels: enhancement

#990 chore: fix formatting
  internal/btpcli/clienttypes_test.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/btpcli/facade_accounts_global_account_test.go
  internal/provider/datasource_subaccount_environment_instance_test.go
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Labels: go, ignore-for-release

#989 docs: fix wrong link for drift detection
  README.md
Labels: documentation

#995 chore: update Sonar Cloud GH Action
  .github/workflows/test.yml
Labels: dependencies, github_actions, ignore-for-release

#996 chore: Prep works v1.9.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Labels: ignore-for-release

#1006 feat: Fixes for Directory resource and datasources
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/fixtures/datasource_directory.yaml
  internal/provider/fixtures/datasource_directory_user.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/resource_directory_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_secret.yaml
  internal/provider/resource_directory_api_credential_test.go
Labels: enhancement, ignore-for-release, test-setup

#1008 chore: Updated Test Fixtures
  internal/provider/datasource_globalaccount_resource_provider_test.go
  internal/provider/datasource_globalaccount_resource_providers_test.go
  internal/provider/fixtures/datasource_globalaccount_resource_provider.yaml
  internal/provider/fixtures/datasource_globalaccount_resource_providers.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.create.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update_wo_description.yaml
  internal/provider/resource_globalaccount_resource_provider_test.go
Labels: ignore-for-release, test-setup

#1007 chore: add Terraform version 1.10 to test matrix
  .github/workflows/test.yml
Labels: ignore-for-release, test-setup

#1009 chore: go setup in GH Actions
  .github/workflows/release.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/test.yml
Labels: github_actions, ignore-for-release, test-setup

#993 chore: update tofu version for test matrix
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/test-opentofu.yml
Labels: dependencies, ignore-for-release, test-setup

#1010 chore: assign issue/pr to central project
  .github/workflows/assign-project.yml
Labels: github_actions, ignore-for-release
